<?xml version="1.0" encoding="utf-8"?>
<root>
	<updateURL>http://dexterlib.googlecode.com/files/update.xml</updateURL>
	<helpURL>http://dexterlib.googlecode.com/files/help.html</helpURL>
	<roomList>
		<room name="南京教会直播室" code="njtjc" pwd="dexter" type="zb">
			<description>
				<![CDATA[
				每周五晚、周六、周三晚直播讲道
				]]>
			</description>
			<notice title="公告栏">
				<![CDATA[
				每周五晚、周六、周三晚直播讲道
				]]>
			</notice>
		</room>
		<room name="临时房间" code="temp" pwd="dexter" type="zb">
			<description>
				<![CDATA[
				供测试使用
				]]>
			</description>
			<notice title="公告栏">
				<![CDATA[
				供测试使用
				]]>
			</notice>
		</room>
	</roomList>
</root>