/*B9121B,4C1B1B,F6E497,FCFAE1,BD8D46 */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/halo";


global
{
	rollOverColor: #799AE0;
	selectionColor: #BA9B65;
	focusColor: #FCFAE1;
	color: #fcfae1;
	baseColor: #365FB7;
	symbolColor: #F4EFDC;
	contentBackgroundColor: #F4EFDC;
}
mx|TabNavigator
{
	backgroundAlpha: 0;
	borderVisible: true;
	tabOffset: 250;
	tabWidth: 80;
}
mx|ToolTip
{
	color:#000000;
	font-size:12;
}
